body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightpink; /* pink looks nice */
}

/* container for the game */
#gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.gameContainer button{
    margin: 5px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 40px;
    padding: 4px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin: 2px; /* spacing between cells */
}

/* correct letter */
.green {
    background-color: lightgreen;
}

/* wrong position */
.yellow {
    background-color: lightyellow;
}

/* not in word */
.red {
    background-color: red;
}